/*@charset "utf-8";*/
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- https://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
    font-family: "FontAwesome", sans-serif;
}

/* ---------- GENERAL ---------- */

body {
    background: #FFFFFF;
    color: #9B9B9B;
    font: 300 100%/1.5em "Lato", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    height: 538px;
    width: 538px;
    left: 50%;
    /*margin: -255px 0 0 -245px;*/
    margin: 0 0 0 0;
    position: relative;
    top: 50%;
}

h2 {
    font-size: 2em;
    line-height: 1.25em;
    margin: 0.25em 0;
}

h3 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0.33em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------- CALENDAR ---------- */

.calendar {
    text-align: center;
}

.calendar header {
    position: relative;
}

.calendar h2 {
    text-transform: uppercase;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.calendar tbody {
    color: #9B9B9B;
}

.calendar tbody td:hover {
    border: 2px solid #FF3366;
}

.calendar td {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 4em;
}

.calendar .prev-day {
    color: #FF3366;
}

.calendar .btn {
    background: #FFFFFF;
}

.calendar .next-day {
    color: #9B9B9B;
}

/*
.calendar .prev-month:hover,
.calendar .next-month:hover {
    border: 2px solid #FF3366;
}
*/

/*63D6C8*/
.current-day {
    color: #00addf;
    border-color: #9B9B9B;
}

/*.event {
    cursor: pointer;
    position: relative;
}

!*00ADDFFF*!
.event:after {
    background: #ff0000;
    border-radius: 50%;
    bottom: 0.5em;
    display: block;
    content: "";
    height: 0.5em;
    left: 50%;
    margin: -0.25em 0 0 -0.25em;
    position: absolute;
    width: 0.5em;
}*/

/*.event.current-day:after {
    background: #fc0202;
}*/

.btn-prev,
.btn-next {
    border: 2px solid #9B9B9B;
    border-radius: 50%;
    color: #9B9B9B;
    height: 2em;
    font-size: 0.75em;
    line-height: 2em;
    margin: -1em;
    position: absolute;
    top: 50%;
    width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
    background: #FFFFFF;
    color: #FF3366;
    border-color: #FF3366;
}

.btn-prev {
    left: 6em;
}

.btn-next {
    right: 6em;
}


.input-day {
    display: none;
}

.time-entry {
    margin: 20px;
}

.delimiter {
    color: #9B9B9B;
    width: 558px;
    margin-left: -30px;
}